<!DOCTYPE html>
<html>
<head>

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="style.css">
  <script type="text/javascript" src="jquery/dist/jquery.js"></script> 
  <script type="text/javascript" src="angular/angular.min.js"></script>
  <title></title>
</head>
<body ng-app="newsProject" ng-controller="MainCtrl2">


      <div class="row">
        <div ng-repeat="article in articles track by $index">
          <div class="clearfix" ng-if="$index % 3 == 0"></div>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>{{article.section}} {{article.subsection}} Section
                  <a href=""> 
                    <i class="fa fa-times" aria-hidden="true" ng-click="remove($index)"></i>
                  </a>
                  </h4>
                </div>
                <div class="panel-body">
                
                  <h4>{{article.headline}}</h4>
                  <h5>{{article.snippet}}</h5>
                  <a href="{{article.link}}" target="_blank">Full Article</a>
              </div>
            </div>
          </div>
        </div>
      </div>



  <script src="app.js"></script>
  <script src="js/services/factory.js"></script>
  <script src="js/controllers/mainController2.js"></script>

</body>
</html>