.panel-default > .panel-heading{
background-color: red;
border-color: red;
}

.container {
width: 100%;
}


.favorite-img {
    background: url(https://wallpaperscraft.com/image/city_buildings_sky_water_805_3840x2400.jpg);

 background-size: cover;
  height: 700px;

}

.hero-image {
  width: 100%;
  max-width: 593px;
   display: block;
  margin: 0 auto;
}

.hero {
  background: url(https://www.omnihotels.com/-/media/images/hotels/nycber/destinations/nyc-aerial-skyline.jpg?h=660&la=en&w=1170);
  background-size: cover;
  height: 700px;
}



i {
  color:white;
float: right;
}
i:hover {
  color:black;
}


i:active {
    color: yellow;
}

i[tabindex]:focus {
    color: #ffd11a
;
    outline: none;
}

i:visited {
    color: green;

h1 {
font-family: 'Slabo 27px', serif;
}


